body {
    background-color: brown;
    color: whitesmoke;
}

.container {
    background-color: black;
    margin: 15px;
    padding: 20px;
    display: block;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 25%;
}

.main-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.list {
    color: darkkhaki;
    text-align: left;
}

.list a,
.paragraph {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}